/* NOT FOUND PAGE */
.NotFoundBody{
  background-color: #f2eee8;
  min-height: 778px;
}

.NotFoundContainer{
  text-align: center;
}

.NotFoundContainer img{
  height: 400px;
}

.NotFoundContainer button {
  margin-top: 100px;
	background-color: #5e7fdc;
	border-radius: 3px;
	border: 2px solid #5e7fdc;
	color: white;
	padding: 12px 50px;
	transition: 0.2s ease;
}

.NotFoundContainer button:hover {
	background-color: white;
	border: 2px solid #5e7fdc;
	color: #5e7fdc;
	transition: 0.2s ease;
}


/* ABOUT PAGE */
.AboutTitle {
  margin-left: 275px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}